<div class="categories" id="<%= dom_id exchange %>">
 
 <div class="category">
 <div class="details">
 <div class="c-name"><h4><%= exchange.name %></h4></div>
 </div>
 <div class="transaction">Amount: $<%= exchange.amount %></div>
 </div>

</div>

 