<p style="color: green"><%= notice %></p>

 <div class="splash-container">
 <div class="logo-container">
 <h3>MyBudget</h3>
 </div>
 <div class="link-container">
 <div class="link active">
   <%= link_to "Log in",  new_user_session_path, class: "a"%>
 </div>
 <div class="link">
   <%= link_to "Sign up", new_user_registration_path, class: "a" %> 
 </div>
 </div>
 
 
 </div>

 
 
